In [174]:
import pandas as pd
from pandas import DataFrame,Series
import json
import csv



df=pd.read_csv("F:/no_missing_result_week10_2.csv")

In [175]:
df

,Unnamed: 0,Unnamed: 0.1,title,id,overview,genre_ids,popularity
0,0,0,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,"[28, 12, 14]",8300.401
1,1,1,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,"[878, 28, 12]",4813.214
2,2,2,No Time to Die,370172,Bond has left active service and is enjoying a...,"[12, 28, 53]",4467.007
3,3,3,Clifford the Big Red Dog,585245,As Emily struggles to fit in at home and at sc...,"[16, 35, 10751]",3857.928
4,4,4,Apex,763164,Ex-cop James Malone is serving a life sentence...,"[28, 53, 878]",2325.571
...,...,...,...,...,...,...,...
10295,10669,10009,My Best Friend's Wedding,8874,When she receives word that her longtime plato...,"[35, 10749]",10.253
10296,10670,10010,Now Is Good,90369,A girl dying of leukemia compiles a list of th...,"[18, 10749]",8.924
10297,10671,10011,Stir Crazy,21629,"New Yorkers, Skip Donahue and Harry Monroe hav...",[35],11.670
10298,10672,10012,Episode of Sabo: The Three Brothers' Bond - Th...,373877,Sabo visits a grave-site where he reflects bac...,"[28, 16]",12.926
10299,10673,10013,Funeral in Berlin,34388,"Colonel Stok, a Soviet intelligence officer re...",[53],12.120

In [176]:
genre = df['genre_ids']

In [177]:
genre

0           [28, 12, 14]
1          [878, 28, 12]
2           [12, 28, 53]
3        [16, 35, 10751]
4          [28, 53, 878]
              ...
10295        [35, 10749]
10296        [18, 10749]
10297               [35]
10298           [28, 16]
10299               [53]
Name: genre_ids, Length: 10300, dtype: object

In [178]:
genre = genre.str.strip('[]')
genre

0           28, 12, 14
1          878, 28, 12
2           12, 28, 53
3        16, 35, 10751
4          28, 53, 878
             ...
10295        35, 10749
10296        18, 10749
10297               35
10298           28, 16
10299               53
Name: genre_ids, Length: 10300, dtype: object

In [179]:
genre

0           28, 12, 14
1          878, 28, 12
2           12, 28, 53
3        16, 35, 10751
4          28, 53, 878
             ...
10295        35, 10749
10296        18, 10749
10297               35
10298           28, 16
10299               53
Name: genre_ids, Length: 10300, dtype: object

In [180]:
genre1=genre.to_frame()
genre1

           genre_ids
0         28, 12, 14
1        878, 28, 12
2         12, 28, 53
3      16, 35, 10751
4        28, 53, 878
...              ...
10295      35, 10749
10296      18, 10749
10297             35
10298         28, 16
10299             53

[10300 rows x 1 columns]

In [181]:
y = pd.DataFrame((x.split(',') for x in genre))
y

         0       1       2     3     4     5     6     7
0       28      12      14  None  None  None  None  None
1      878      28      12  None  None  None  None  None
2       12      28      53  None  None  None  None  None
3       16      35   10751  None  None  None  None  None
4       28      53     878  None  None  None  None  None
...    ...     ...     ...   ...   ...   ...   ...   ...
10295   35   10749    None  None  None  None  None  None
10296   18   10749    None  None  None  None  None  None
10297   35    None    None  None  None  None  None  None
10298   28      16    None  None  None  None  None  None
10299   53    None    None  None  None  None  None  None

[10300 rows x 8 columns]

In [182]:
nmr=df[['title', 'id', 'overview', 'genre_ids','popularity']]
nmr

,title,id,overview,genre_ids,popularity
0,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,"[28, 12, 14]",8300.401
1,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,"[878, 28, 12]",4813.214
2,No Time to Die,370172,Bond has left active service and is enjoying a...,"[12, 28, 53]",4467.007
3,Clifford the Big Red Dog,585245,As Emily struggles to fit in at home and at sc...,"[16, 35, 10751]",3857.928
4,Apex,763164,Ex-cop James Malone is serving a life sentence...,"[28, 53, 878]",2325.571
...,...,...,...,...,...
10295,My Best Friend's Wedding,8874,When she receives word that her longtime plato...,"[35, 10749]",10.253
10296,Now Is Good,90369,A girl dying of leukemia compiles a list of th...,"[18, 10749]",8.924
10297,Stir Crazy,21629,"New Yorkers, Skip Donahue and Harry Monroe hav...",[35],11.670
10298,Episode of Sabo: The Three Brothers' Bond - Th...,373877,Sabo visits a grave-site where he reflects bac...,"[28, 16]",12.926
10299,Funeral in Berlin,34388,"Colonel Stok, a Soviet intelligence officer re...",[53],12.120

In [183]:
df=pd.merge(nmr,y,left_index=True,right_index=True)
dx=nmr.copy()
dx=nmr[0:0]
dx

Empty DataFrame
Columns: [title, id, overview, genre_ids, popularity]
Index: []

In [184]:
df

,title,id,overview,genre_ids,popularity,0,1,2,3,4,5,6,7
0,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,"[28, 12, 14]",8300.401,28,12,14,None,None,None,None,None
1,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,"[878, 28, 12]",4813.214,878,28,12,None,None,None,None,None
2,No Time to Die,370172,Bond has left active service and is enjoying a...,"[12, 28, 53]",4467.007,12,28,53,None,None,None,None,None
3,Clifford the Big Red Dog,585245,As Emily struggles to fit in at home and at sc...,"[16, 35, 10751]",3857.928,16,35,10751,None,None,None,None,None
4,Apex,763164,Ex-cop James Malone is serving a life sentence...,"[28, 53, 878]",2325.571,28,53,878,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10295,My Best Friend's Wedding,8874,When she receives word that her longtime plato...,"[35, 10749]",10.253,35,10749,None,None,None,None,None,None
10296,Now Is Good,90369,A girl dying of leukemia compiles a list of th...,"[18, 10749]",8.924,18,10749,None,None,None,None,None,None
10297,Stir Crazy,21629,"New Yorkers, Skip Donahue and Harry Monroe hav...",[35],11.670,35,None,None,None,None,None,None,None
10298,Episode of Sabo: The Three Brothers' Bond - Th...,373877,Sabo visits a grave-site where he reflects bac...,"[28, 16]",12.926,28,16,None,None,None,None,None,None
10299,Funeral in Berlin,34388,"Colonel Stok, a Soviet intelligence officer re...",[53],12.120,53,None,None,None,None,None,None,None

In [185]:
df.iloc[:,5:12]

         0       1       2     3     4     5     6
0       28      12      14  None  None  None  None
1      878      28      12  None  None  None  None
2       12      28      53  None  None  None  None
3       16      35   10751  None  None  None  None
4       28      53     878  None  None  None  None
...    ...     ...     ...   ...   ...   ...   ...
10295   35   10749    None  None  None  None  None
10296   18   10749    None  None  None  None  None
10297   35    None    None  None  None  None  None
10298   28      16    None  None  None  None  None
10299   53    None    None  None  None  None  None

[10300 rows x 7 columns]

In [186]:
from tqdm.notebook import tqdm
import numpy as np 
from time import sleep
for i in tqdm(range(len(df))):
    a=df[i:i+1]
    a=a.iloc[:,5:12].dropna(axis=1, how='any')
    a_list =np.array(a).tolist()
    title=df.loc[i,'title']
    id=df.loc[i,'id']
    overview=df.loc[i,'overview']
    popularity=df.loc[i,'popularity']
    for j in a_list[0]:
        dx = dx.append([{'title': title,'id': id,'overview':overview,'popularity':popularity,'genre_ids':j}], ignore_index=True)
dx=dx[-(dx['genre_ids']=='')].reset_index(drop=True)

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=10300.0), HTML(value='')))

In [154]:
dx

,title,id,overview,genre_ids,popularity
0,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,28,8300.401
1,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,12,8300.401
2,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,14,8300.401
3,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,878,4813.214
4,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,28,4813.214
...,...,...,...,...,...
25975,Now Is Good,90369,A girl dying of leukemia compiles a list of th...,10749,8.924
25976,Stir Crazy,21629,"New Yorkers, Skip Donahue and Harry Monroe hav...",35,11.670
25977,Episode of Sabo: The Three Brothers' Bond - Th...,373877,Sabo visits a grave-site where he reflects bac...,28,12.926
25978,Episode of Sabo: The Three Brothers' Bond - Th...,373877,Sabo visits a grave-site where he reflects bac...,16,12.926
25979,Funeral in Berlin,34388,"Colonel Stok, a Soviet intelligence officer re...",53,12.120

In [155]:
dx.loc[(dx['title'] == 'Venom: Let There Be Carnage')]

,title,id,overview,genre_ids,popularity
3,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,878,4813.214
4,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,28,4813.214
5,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,12,4813.214

In [187]:
num_to_label = {
    '28':'Action',
    '12':'Adventure',
    '16':'Animation',
    '35':'Comedy',
    '80':'Crime',
    '99':'Documentary',
    '18':'Drama',
    '10751':'Family',
    '14':'Fantasy',
    '36':'History',
    '27':'Horror',
    '10402':'Music',
    '9648':'Mystery',
    '10749':'Romance',
    '878':'Science Fiction',
    '10770':'TV Movie',
    '53':'Thriller',
    '10752':'War',
    '37':'Western'
    }

dx['genre_ids']=dx.apply(lambda x:(x['genre_ids'].replace(" ", "")), axis=1)
dx['label']=dx.apply(lambda x:(num_to_label[x['genre_ids']]), axis=1)
dx

,title,id,overview,genre_ids,popularity,label
0,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,28,8300.401,Action
1,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,12,8300.401,Adventure
2,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,14,8300.401,Fantasy
3,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,878,4813.214,Science Fiction
4,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,28,4813.214,Action
...,...,...,...,...,...,...
25975,Now Is Good,90369,A girl dying of leukemia compiles a list of th...,10749,8.924,Romance
25976,Stir Crazy,21629,"New Yorkers, Skip Donahue and Harry Monroe hav...",35,11.670,Comedy
25977,Episode of Sabo: The Three Brothers' Bond - Th...,373877,Sabo visits a grave-site where he reflects bac...,28,12.926,Action
25978,Episode of Sabo: The Three Brothers' Bond - Th...,373877,Sabo visits a grave-site where he reflects bac...,16,12.926,Animation
25979,Funeral in Berlin,34388,"Colonel Stok, a Soviet intelligence officer re...",53,12.120,Thriller

In [157]:
#Thriller
Thriller=dx.loc[(dx['label'] == 'Thriller') & (dx['popularity']>1000)].head(25)

In [158]:
Thriller

,title,id,overview,genre_ids,popularity,label
8,No Time to Die,370172,Bond has left active service and is enjoying a...,53,4467.007,Thriller
13,Apex,763164,Ex-cop James Malone is serving a life sentence...,53,2325.571,Thriller
1052,Red Notice,512195,An Interpol-issued Red Notice is a global aler...,53,7646.716,Thriller
1070,Army of Thieves,796499,A mysterious woman recruits bank teller Ludwig...,53,1566.278,Thriller

In [161]:
#Action
Action=dx.loc[(dx['label'] == 'Action') & (dx['popularity']>800)].head(25)

In [162]:
Action

,title,id,overview,genre_ids,popularity,label
0,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,28,8300.401,Action
4,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,28,4813.214,Action
7,No Time to Die,370172,Bond has left active service and is enjoying a...,28,4467.007,Action
12,Apex,763164,Ex-cop James Malone is serving a life sentence...,28,2325.571,Action
15,Spider-Man: No Way Home,634649,Peter Parker is unmasked and no longer able to...,28,2137.099,Action
21,Free Guy,550988,A bank teller called Guy realizes he is a back...,28,1680.250,Action
24,Gunpowder Milkshake,574060,In her turbulent life as a professional assass...,28,872.279,Action
33,Jungle Cruise,451048,Dr. Lily Houghton enlists the aid of wisecrack...,28,835.181,Action
41,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,635302,"Tanjirō Kamado, joined with Inosuke Hashibira,...",28,803.364,Action
1049,Red Notice,512195,An Interpol-issued Red Notice is a global aler...,28,7646.716,Action
1060,Eternals,524434,The Eternals are a team of ancient aliens who ...,28,2123.924,Action
1068,Army of Thieves,796499,A mysterious woman recruits bank teller Ludwig...,28,1566.278,Action
1072,The Amazing Spider-Man,1930,Peter Parker is an outcast high schooler aband...,28,1203.652,Action
1076,Venom,335983,Investigative journalist Eddie Brock attempts ...,28,1170.731,Action
1082,The Seven Deadly Sins: Cursed by Light,843241,"With the help of the ""Dragon Sin of Wrath"" Mel...",28,1063.994,Action
1085,Snake Eyes: G.I. Joe Origins,568620,"After saving the life of their heir apparent, ...",28,984.591,Action
1087,Spider-Man: Far From Home,429617,Peter Parker and his friends go on a summer tr...,28,900.334,Action

In [164]:
Adventure=dx.loc[(dx['label'] == 'Adventure') & (dx['popularity']>800)].head(25)

In [165]:
Adventure

,title,id,overview,genre_ids,popularity,label
1,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,12,8300.401,Adventure
5,Venom: Let There Be Carnage,580489,After finding a host body in investigative rep...,12,4813.214,Adventure
6,No Time to Die,370172,Bond has left active service and is enjoying a...,12,4467.007,Adventure
16,Spider-Man: No Way Home,634649,Peter Parker is unmasked and no longer able to...,12,2137.099,Adventure
19,Dune,438631,"Paul Atreides, a brilliant and gifted young ma...",12,1826.932,Adventure
22,Free Guy,550988,A bank teller called Guy realizes he is a back...,12,1680.250,Adventure
30,Jungle Cruise,451048,Dr. Lily Houghton enlists the aid of wisecrack...,12,835.181,Adventure
34,Encanto,568124,"The tale of an extraordinary family, the Madri...",12,854.313,Adventure
42,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,635302,"Tanjirō Kamado, joined with Inosuke Hashibira,...",12,803.364,Adventure
1055,Finch,522402,"On a post-apocalyptic Earth, a robot, built to...",12,3311.758,Adventure
1059,Amina,885110,"In 16th-century Zazzau, now Zaria, Nigeria, Am...",12,2501.667,Adventure
1061,Eternals,524434,The Eternals are a team of ancient aliens who ...,12,2123.924,Adventure
1073,The Amazing Spider-Man,1930,Peter Parker is an outcast high schooler aband...,12,1203.652,Adventure
1086,Snake Eyes: G.I. Joe Origins,568620,"After saving the life of their heir apparent, ...",12,984.591,Adventure
1088,Spider-Man: Far From Home,429617,Peter Parker and his friends go on a summer tr...,12,900.334,Adventure
1094,The Addams Family 2,639721,The Addams get tangled up in more wacky advent...,12,854.763,Adventure
1099,The Boss Baby: Family Business,459151,The Templeton brothers — Tim and his Boss Baby...,12,843.738,Adventure
1105,The Last Warrior: Root of Evil,589754,Peace and tranquility have set in Belogorie. T...,12,849.358,Adventure

In [172]:
Animation=dx.loc[(dx['label'] == 'Animation') & (dx['popularity']>100)].head(25)

In [173]:
Animation

,title,id,overview,genre_ids,popularity,label
9,Clifford the Big Red Dog,585245,As Emily struggles to fit in at home and at sc...,16,3857.928,Animation
35,Encanto,568124,"The tale of an extraordinary family, the Madri...",16,854.313,Animation
40,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,635302,"Tanjirō Kamado, joined with Inosuke Hashibira,...",16,803.364,Animation
47,PAW Patrol: The Movie,675445,Ryder and the pups are called to Adventure Cit...,16,667.575,Animation
51,Space Jam: A New Legacy,379686,When LeBron and his young son Dom are trapped ...,16,631.517,Animation
59,The Croods: A New Age,529203,"Searching for a safer habitat, the prehistoric...",16,502.843,Animation
72,Ainbo: Spirit of the Amazon,588921,An epic journey of a young hero and her Spirit...,16,411.778,Animation
78,Rock Dog 2: Rock Around the Park,812204,When Bodi and his band 'True Blue' leave Snow ...,16,409.626,Animation
91,Spirit Untamed,637693,Lucky Prescott's life is changed forever when ...,16,245.661,Animation
107,PAW Patrol: Jet to the Rescue,743439,Get ready to zoom back to Barkingburg with the...,16,177.393,Animation
110,Sing 2,438695,Buster and his new cast now have their sights ...,16,156.142,Animation
129,Barbie & Chelsea: The Lost Birthday,812456,"Enjoy high-sea thrills as Barbie, Chelsea and ...",16,114.127,Animation
1077,Ciao Alberto,876716,"With his best friend Luca away at school, Albe...",16,1326.072,Animation
1081,The Seven Deadly Sins: Cursed by Light,843241,"With the help of the ""Dragon Sin of Wrath"" Mel...",16,1063.994,Animation
1093,The Addams Family 2,639721,The Addams get tangled up in more wacky advent...,16,854.763,Animation
1097,The Boss Baby: Family Business,459151,The Templeton brothers — Tim and his Boss Baby...,16,843.738,Animation
1107,Luca,508943,Luca and his best friend Alberto experience an...,16,768.409,Animation
1112,Descendants: The Royal Wedding,805411,Happily-ever-after continues for Auradon's pow...,16,783.080,Animation
1121,Deathstroke: Knights & Dragons - The Movie,703771,The assassin Deathstroke tries to save his fam...,16,786.645,Animation
1143,The Simpsons in Plusaversary,877183,The Simpsons host a Disney+ Day party and ever...,16,893.161,Animation
1185,Injustice,831405,"When Lois Lane is killed, an unhinged Superman...",16,439.056,Animation
1196,Miraculous World: Shanghai – The Legend of Lad...,726684,"On school break, Marinette heads to Shanghai t...",16,403.124,Animation
1212,Mickey's Tale of Two Witches,864388,"On Halloween, Mickey tells a tale of two witch...",16,366.510,Animation
1227,Pokémon the Movie: Secrets of the Jungle,662708,"In the Forest of Okoya, Koko is a feral child ...",16,404.488,Animation
1229,LOL Surprise: The Movie,882206,Dazzling doll sisters Queen Bee and Royal Bee ...,16,371.734,Animation

In [188]:
Comedy=dx.loc[(dx['label'] == 'Comedy') & (dx['popularity']>100)].head(25)

In [189]:
Comedy

,title,id,overview,genre_ids,popularity,label
10,Clifford the Big Red Dog,585245,As Emily struggles to fit in at home and at sc...,35,3857.928,Comedy
20,Free Guy,550988,A bank teller called Guy realizes he is a back...,35,1680.250,Comedy
27,Ghostbusters: Afterlife,425909,When a single mom and her two kids arrive in a...,35,728.849,Comedy
32,Jungle Cruise,451048,Dr. Lily Houghton enlists the aid of wisecrack...,35,835.181,Comedy
36,Encanto,568124,"The tale of an extraordinary family, the Madri...",35,854.313,Comedy
50,PAW Patrol: The Movie,675445,Ryder and the pups are called to Adventure Cit...,35,667.575,Comedy
53,Space Jam: A New Legacy,379686,When LeBron and his young son Dom are trapped ...,35,631.517,Comedy
63,The Croods: A New Age,529203,"Searching for a safer habitat, the prehistoric...",35,502.843,Comedy
79,Rock Dog 2: Rock Around the Park,812204,When Bodi and his band 'True Blue' leave Snow ...,35,409.626,Comedy
104,How the Grinch Stole Christmas,8871,Inside a snowflake exists the magical land of ...,35,187.397,Comedy
109,Sing 2,438695,Buster and his new cast now have their sights ...,35,156.142,Comedy
1050,Red Notice,512195,An Interpol-issued Red Notice is a global aler...,35,7646.716,Comedy
1064,Home Sweet Home Alone,654974,After being left at home by himself for the ho...,35,1700.265,Comedy
1078,Ciao Alberto,876716,"With his best friend Luca away at school, Albe...",35,1326.072,Comedy
1095,The Addams Family 2,639721,The Addams get tangled up in more wacky advent...,35,854.763,Comedy
1098,The Boss Baby: Family Business,459151,The Templeton brothers — Tim and his Boss Baby...,35,843.738,Comedy
1103,Nobody Sleeps in the Woods Tonight 2,871964,When something horrible happens to the only su...,35,900.723,Comedy
1106,The Last Warrior: Root of Evil,589754,Peace and tranquility have set in Belogorie. T...,35,849.358,Comedy
1108,Luca,508943,Luca and his best friend Alberto experience an...,35,768.409,Comedy
1113,Descendants: The Royal Wedding,805411,Happily-ever-after continues for Auradon's pow...,35,783.080,Comedy
1136,Father Christmas Is Back,762469,"Caroline Christmas, a control freak desires no...",35,783.818,Comedy
1144,The Simpsons in Plusaversary,877183,The Simpsons host a Disney+ Day party and ever...,35,893.161,Comedy
1155,In for a Murder,846167,A stay-at-home mom and avid reader of crime st...,35,536.238,Comedy
1158,Cruella,337404,In 1970s London amidst the punk rock revolutio...,35,606.285,Comedy
1167,The Trip,760747,A dysfunctional couple head to a remote lakesi...,35,582.242,Comedy

In [192]:
Crime=dx.loc[(dx['label'] == 'Crime') & (dx['popularity']>100)].head(25)

In [193]:
Crime

,title,id,overview,genre_ids,popularity,label
26,Gunpowder Milkshake,574060,In her turbulent life as a professional assass...,80,872.279,Crime
65,Wrath of Man,637649,A cold and mysterious new security guard for a...,80,510.063,Crime
100,Vanquish,804435,Victoria is a young mother trying to put her d...,80,166.837,Crime
114,House of Gucci,644495,"When Patrizia Reggiani, an outsider from humbl...",80,137.291,Crime
117,Spiral: From the Book of Saw,602734,Working in the shadow of an esteemed police ve...,80,157.970,Crime
1051,Red Notice,512195,An Interpol-issued Red Notice is a global aler...,80,7646.716,Crime
1069,Army of Thieves,796499,A mysterious woman recruits bank teller Ludwig...,80,1566.278,Crime
1090,The Vault,630004,"When an engineer learns of a mysterious, impen...",80,766.249,Crime
1118,7 Prisoners,785538,An impoverished teen seeking to escape the clu...,80,991.721,Crime
1139,F9,385128,Dominic Toretto and his crew battle the most s...,80,732.968,Crime
1152,The Protégé,645788,Rescued as a child by the legendary assassin M...,80,586.812,Crime
1154,In for a Murder,846167,A stay-at-home mom and avid reader of crime st...,80,536.238,Crime
1159,Cruella,337404,In 1970s London amidst the punk rock revolutio...,80,606.285,Crime
1174,The Many Saints of Newark,524369,Young Anthony Soprano is growing up in one of ...,80,438.594,Crime
1204,Grudge,874948,"Ahead of a promotion, a police chief becomes e...",80,397.836,Crime
1223,Narco Sub,706972,A man will become a criminal to save his famil...,80,385.675,Crime
1295,Army of the Dead,503736,"Following a zombie outbreak in Las Vegas, a gr...",80,315.336,Crime
1304,Ava,539885,A black ops assassin is forced to fight for he...,80,300.240,Crime
1377,The Marksman,634528,Jim Hanson’s quiet life is suddenly disturbed ...,80,290.481,Crime
1456,Vanguard,604822,Covert security company Vanguard is the last h...,80,232.867,Crime
1467,Nobody,615457,"Hutch Mansell, a suburban dad, overlooked husb...",80,233.519,Crime
1477,Fast & Furious 10,385687,The tenth installment in the Fast Saga.,80,240.979,Crime
1495,Crank: High Voltage,15092,Chelios faces a Chinese mobster who has stolen...,80,215.596,Crime
1501,Beckett,597433,"While vacationing in Greece, Beckett, becomes ...",80,204.810,Crime
1557,Yara,747688,The murder of 13-year-old Yara Gambirasio shoc...,80,166.985,Crime

In [196]:
Documentary=dx.loc[(dx['label'] == 'Documentary') & (dx['popularity']>1)].head(25)

In [197]:
Documentary

,title,id,overview,genre_ids,popularity,label
266,The Real Charlie Chaplin,788396,A look at the life and work of Charlie Chaplin...,99,16.009,Documentary
304,JFK Revisited: Through The Looking Glass,836486,"Thirty years after his film JFK, filmmaker Oli...",99,18.705,Documentary
325,Noh,896199,"In 2017, playwright Marco Canale staged a play...",99,21.689,Documentary
416,The Age of Innocence,898138,A personal diary that also acts as a sentiment...,99,14.760,Documentary
435,Being Black in Porn,843857,Being Black in Porn follows the lives of four ...,99,8.348,Documentary
453,The Fresh Prince of Bel-Air Reunion Special,738362,"Join Will Smith, Tatyana Ali, Karyn Parsons, J...",99,9.445,Documentary
454,Try Harder!,776528,"In a universe where cool kids are nerds, the o...",99,7.639,Documentary
455,Dying to Divorce,804516,"Filmed over five years, ‘Dying To Divorce’ tak...",99,8.968,Documentary
457,"Michael Cimino, God Bless America",833916,A road-movie narrated by Michael Cimino (recor...,99,11.939,Documentary
463,Citizen Ashe,850990,Follows the life and career of Arthur Ashe.,99,7.360,Documentary
480,Rebel Dykes,797874,"A heady, energised mash-up of animation, unsee...",99,9.651,Documentary
486,Les Mots de Taj,883834,"At 14, Tajamul fled from Afghanistan to Amiens...",99,12.256,Documentary
509,Invisible Demons,842361,A prismatic meditation on pollution in the cap...,99,8.287,Documentary
583,The Bee Gees: How Can You Mend a Broken Heart,730009,The story of the triumphs and hurdles of broth...,99,7.802,Documentary
596,Echo in the Canyon,549551,A look at the roots of the historic music scen...,99,6.361,Documentary
618,The Rescue,680058,Follows the rescue of a Thai soccer team trapp...,99,6.119,Documentary
633,A Glitch in the Matrix,696109,Are we in fact living in a simulation? This is...,99,7.215,Documentary
634,The Truffle Hunters,653762,"In the secret forests of Northern Italy, a dwi...",99,4.836,Documentary
651,The Savior for Sale,818082,"In November 15, 2017, the painting Salvator Mu...",99,7.655,Documentary
652,Magaluf Ghost Town,819955,"At the height of the summer tourist season, th...",99,6.136,Documentary
664,Fantasía,833371,Siblings Amaia and Aitor are about to turn fif...,99,6.340,Documentary
666,Extraordinary: The Revelations,869644,Explores the historical significance of ET pre...,99,4.656,Documentary
672,Apaiz kartzela,876218,A real voyage in an apparently unreal situatio...,99,7.071,Documentary
692,Ziyara,805958,"Ziyara means visit to the saints, a popular pr...",99,4.604,Documentary
696,The Choir - a film about Tensta Gospel Choir,885162,Documentary about Tensta Gospel Choir.,99,6.037,Documentary

In [198]:
Drama=dx.loc[(dx['label'] == 'Drama') & (dx['popularity']>1)].head(25)

In [199]:
Drama

,title,id,overview,genre_ids,popularity,label
97,The Ice Road,646207,After a remote diamond mine collapses in far n...,18,253.944,Drama
102,King Richard,614917,The TRUE STORY of how Richard Williams served ...,18,237.028,Drama
111,Sing 2,438695,Buster and his new cast now have their sights ...,18,156.142,Drama
113,House of Gucci,644495,"When Patrizia Reggiani, an outsider from humbl...",18,137.291,Drama
126,Titane,630240,A woman with a metal plate in her head from a ...,18,100.884,Drama
131,The Green Knight,559907,An epic fantasy adventure based on the timeles...,18,120.019,Drama
133,Azor,659954,"Yvan De Wiel, a private banker from Geneva, is...",18,94.434,Drama
137,Stillwater,616651,"Bill Baker, an American oil-rig roughneck from...",18,85.752,Drama
141,The Last Duel,617653,King Charles VI declares that Knight Jean de C...,18,96.923,Drama
149,The French Dispatch,542178,The quirky staff of an American magazine based...,18,82.121,Drama
157,Adventures of a Mathematician,684281,The warmhearted story of Polish immigrant and ...,18,84.366,Drama
160,No Man of God,716594,The complicated relationship that formed betwe...,18,86.352,Drama
163,Cry Macho,749274,"Mike Milo, a one-time rodeo star and washed-up...",18,63.576,Drama
164,Benedetta,454527,"In the late 17th century, with plague ravaging...",18,61.886,Drama
168,Jack Reacher,75780,"When a gunman takes five lives with six shots,...",18,64.620,Drama
173,Don't Look Up,646380,Two astronomers go on a media tour to warn hum...,18,57.855,Drama
181,The Power of the Dog,600583,"A domineering, magnetic rancher responds with ...",18,42.245,Drama
182,Spencer,716612,During her Christmas holidays with the royal f...,18,51.513,Drama
186,The Unforgivable,645886,Released from prison into a society that won't...,18,50.453,Drama
192,Mainstream,557950,A young woman finds a path to internet stardom...,18,60.703,Drama
193,Bruised,718633,Jackie Justice is a mixed martial arts fighter...,18,38.540,Drama
202,Pig,635731,A truffle hunter who lives alone in the Oregon...,18,29.294,Drama
204,Penguin Bloom,618416,When an unlikely ally enters the Bloom family'...,18,40.643,Drama
208,Better Days,575813,A bullied teenage girl forms an unlikely frien...,18,46.001,Drama
215,Beasts Clawing at Straws,571648,The destinies of hard-luck lowlifes slowly con...,18,37.864,Drama

In [200]:
Family=dx.loc[(dx['label'] == 'Family') & (dx['popularity']>1)].head(25)
Family

,title,id,overview,genre_ids,popularity,label
11,Clifford the Big Red Dog,585245,As Emily struggles to fit in at home and at sc...,10751,3857.928,Family
37,Encanto,568124,"The tale of an extraordinary family, the Madri...",10751,854.313,Family
48,PAW Patrol: The Movie,675445,Ryder and the pups are called to Adventure Cit...,10751,667.575,Family
52,Space Jam: A New Legacy,379686,When LeBron and his young son Dom are trapped ...,10751,631.517,Family
60,The Croods: A New Age,529203,"Searching for a safer habitat, the prehistoric...",10751,502.843,Family
73,Ainbo: Spirit of the Amazon,588921,An epic journey of a young hero and her Spirit...,10751,411.778,Family
81,Rock Dog 2: Rock Around the Park,812204,When Bodi and his band 'True Blue' leave Snow ...,10751,409.626,Family
93,Spirit Untamed,637693,Lucky Prescott's life is changed forever when ...,10751,245.661,Family
103,How the Grinch Stole Christmas,8871,Inside a snowflake exists the magical land of ...,10751,187.397,Family
106,PAW Patrol: Jet to the Rescue,743439,Get ready to zoom back to Barkingburg with the...,10751,177.393,Family
108,Sing 2,438695,Buster and his new cast now have their sights ...,10751,156.142,Family
178,Ri¢hie Ri¢h,11011,"Billionaire heir Richie Rich has it all, inclu...",10751,52.903,Family
241,Wolfwalkers,441130,"In a time of superstition and magic, when wolv...",10751,24.343,Family
254,Pups Alone,761548,After receiving an exciting new job opportunit...,10751,15.552,Family
292,Monster Family 2,823609,To free Baba Yaga and Renfield from the clutch...,10751,27.219,Family
323,A Boy Called Christmas,615666,An ordinary young boy called Nikolas sets out ...,10751,18.764,Family
339,8-Bit Christmas,802217,"In suburban Chicago during the late 1980s, ten...",10751,16.615,Family
350,Blasé L.A.,768312,BLASÉ L.A. is about an ambitious teenager that...,10751,19.767,Family
362,The Big Bad Fox and Other Tales,453191,The misadventures of a young clumsy Fox and a ...,10751,15.809,Family
407,Wendy,399363,"A re-imagining of ""Peter Pan"" from the point o...",10751,12.943,Family
467,Back to the Outback,770254,Tired of being locked in a reptile house where...,10751,12.358,Family
476,Mr. Birthday,818769,While working his maintenance job at an upscal...,10751,9.852,Family
479,Far From the Tree,831827,Curiosity gets the better of a young raccoon w...,10751,11.883,Family
520,The Adventure of A.R.I.: My Robot Friend,682075,A teenager summons the courage to help a frien...,10751,6.354,Family
543,La familia perfecta,826241,Lucía (Belén Rueda) is a woman for whom leadin...,10751,6.363,Family

In [201]:
Fantasy=dx.loc[(dx['label'] == 'Fantasy') & (dx['popularity']>1)].head(25)

In [202]:
Fantasy

,title,id,overview,genre_ids,popularity,label
2,Shang-Chi and the Legend of the Ten Rings,566525,Shang-Chi must confront the past he thought he...,14,8300.401,Fantasy
28,Ghostbusters: Afterlife,425909,When a single mom and her two kids arrive in a...,14,728.849,Fantasy
31,Jungle Cruise,451048,Dr. Lily Houghton enlists the aid of wisecrack...,14,835.181,Fantasy
38,Encanto,568124,"The tale of an extraordinary family, the Madri...",14,854.313,Fantasy
43,Demon Slayer -Kimetsu no Yaiba- The Movie: Mug...,635302,"Tanjirō Kamado, joined with Inosuke Hashibira,...",14,803.364,Fantasy
46,The Suicide Squad,436969,"Supervillains Harley Quinn, Bloodsport, Peacem...",14,731.421,Fantasy
62,The Croods: A New Age,529203,"Searching for a safer habitat, the prehistoric...",14,502.843,Fantasy
74,Ainbo: Spirit of the Amazon,588921,An epic journey of a young hero and her Spirit...,14,411.778,Fantasy
105,How the Grinch Stole Christmas,8871,Inside a snowflake exists the magical land of ...,14,187.397,Fantasy
132,The Green Knight,559907,An epic fantasy adventure based on the timeles...,14,120.019,Fantasy
183,Howl's Moving Castle,4935,"When Sophie, a shy young woman, is cursed with...",14,55.359,Fantasy
189,Sword Art Online the Movie -Progressive- Aria ...,761898,One month after Kayaba Akihiko's game of death...,14,47.639,Fantasy
243,Wolfwalkers,441130,"In a time of superstition and magic, when wolv...",14,24.343,Fantasy
272,Sk8r Grrl,522772,A gang of skater girls use newfound magic to s...,14,29.856,Fantasy
286,Upon the Magic Roads,576784,Romantic John the Fool and his friend Foal set...,14,21.825,Fantasy
301,Fatman,602211,"A rowdy, unorthodox Santa Claus is fighting to...",14,17.668,Fantasy
324,A Boy Called Christmas,615666,An ordinary young boy called Nikolas sets out ...,14,18.764,Fantasy
369,White Snake II: The Tribulation of the Green S...,795607,While trying to free her sister from Fahai's c...,14,13.867,Fantasy
405,Wendy,399363,"A re-imagining of ""Peter Pan"" from the point o...",14,12.943,Fantasy
421,Dead Man,922,"Wounded and branded an outlaw, a young account...",14,9.042,Fantasy
553,Where Is Anne Frank,426242,"The film follows the journey of Kitty, the ima...",14,10.263,Fantasy
591,The Adventures of Pil,676705,"Pil, a little vagabond girl, lives on the stre...",14,5.145,Fantasy
607,Petite maman,749004,Eight-year-old Nelly has just lost her beloved...,14,8.200,Fantasy
668,Till We Meet Again,783740,"Xiao-lun, who is struck dead by lightning, has...",14,4.169,Fantasy
717,Akhirat: A Love Story,737671,"Timur, a young accountant who falls in love wi...",14,3.775,Fantasy

In [205]:
History=dx.loc[(dx['label'] == 'History') & (dx['popularity']>1)].head(25)
Horror=dx.loc[(dx['label'] == 'Horror') & (dx['popularity']>1)].head(25)
Music=dx.loc[(dx['label'] == 'Music') & (dx['popularity']>1)].head(25)
Mystery=dx.loc[(dx['label'] == 'Mystery') & (dx['popularity']>1)].head(25)
Romance=dx.loc[(dx['label'] == 'Romance') & (dx['popularity']>1)].head(25)
Science_Fiction =dx.loc[(dx['label'] == 'Science Fiction') & (dx['popularity']>1)].head(25)
TV_Movie=dx.loc[(dx['label'] == 'TV Movie') & (dx['popularity']>1)].head(25)
Thriller=dx.loc[(dx['label'] == 'Thriller') & (dx['popularity']>1)].head(25)
War=dx.loc[(dx['label'] == 'War') & (dx['popularity']>1)].head(25)
Western=dx.loc[(dx['label'] == 'Western') & (dx['popularity']>1)].head(25)